search{
    background-color: #f6f5f0;
    width: 100%;
    margin: 0;
    height: 600px;
  }
  
  .book-pile{
    width:70%
  }
  
  .search-bar{
    padding:10px 20px;
    margin: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 2px solid #b4b3ab;
    border-right: none;
    background-color: #f6f5f0;
    font-size: larger;
  }
  
  
  input[type=text]:focus {
    border: 2px solid #8e8c84;
    border-right: none;
    outline: none;
  }
  
  
  .search button{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px 20px;
    background-color: #692125;
    color:white;
    border: 2px solid #692125;
    font-size: larger;
  }
  
  .search-container {
    position: relative;
  }
  
  .form-control:focus{
    outline: none !important;
    border:3px solid black;
  }
  
  .search-input {
    height: 50px;
    border-radius: 30px;
    padding-left: 35px;
  }

  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

  .search{
    background-color: #f6f5f0;
    width: 100%;
    margin: 0;
    height: 600px;
  }